<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <title>UniFit | Admin</title>
</head>
<body>
<div th:replace="~{fragments/admin-dashboard.html}">
  <div th:fragment="content">

    <h1 class="text-4xl lg:text-5xl font-bold py-10">Manage Schedule</h1>
    <h2 class="text-xl md:text-2xl lg:text-3xl font-bold mt-6 mb-8">
      Select a Facility
    </h2>
    <!-- Facilities Container -->
    <div class="container mx-auto mt-8">
      <h2 class="text-2xl font-semibold mb-4">Facilities</h2>
      <!-- Facilities Table -->
      <table class="min-w-full bg-white border border-gray-200">
        <thead>
        <tr class="bg-gray-100">
          <th class="text-left py-2 px-4 border-b">Facility Name</th>
          <th class="text-left py-2 px-4 border-b">Weekdays</th>
          <th class="text-left py-2 px-4 border-b">Weekends</th>
          <th class="text-left py-2 px-4 border-b">Action</th>
        </tr>
        </thead>
        <tbody>
        <!-- Iterate over facilities and generate rows -->
        <tr th:each="facility : ${facilities}" class="hover:bg-gray-50">
          <td class="py-2 px-4 border-b" th:text="${facility.name}">Name</td>
          <td class="py-2 px-4 border-b">
            <span th:text="${#temporals.format(facility.weekdayOpeningTime, 'h:mma')} + ' to ' + ${#temporals.format(facility.weekdayClosingTime, 'h:mma')}">Hours</span>
          </td>
          <td class="py-2 px-4 border-b">
            <span th:text="${#temporals.format(facility.weekendOpeningTime, 'h:mma')} + ' to ' + ${#temporals.format(facility.weekendClosingTime, 'h:mma')}">Hours</span>
          </td>
          <td class="py-2 px-4 border-b">
            <a th:href="@{/admin/maintenance/{id}(id=${facility.id})}"
               class="flex gap-1 font-semibold hover:bg-blue-200 bg-blue-100 justify-center p-1 rounded">
              <i data-lucide="calendar"></i>
              Schedule
            </a>
          </td>
        </tr>
        </tbody>
      </table>
    </div>


    <h2 class="text-xl md:text-2xl lg:text-3xl font-bold mt-6 mb-8">
      Maintenance Schedule
    </h2>

    <div class="overflow-x-auto bg-white rounded-md shadow-md mt-5 p-5">
      <table class="min-w-full">
        <thead>
        <tr>
          <th class="py-2 px-1 border-b text-left">ID</th>
          <th class="py-2 px-1 border-b text-left">Facility</th>
          <th class="py-2 px-1 border-b text-left">Date</th>
          <th class="py-2 px-1 border-b text-left">Start Time</th>
          <th class="py-2 px-1 border-b text-left">End Time</th>
        </tr>
        </thead>
        <tbody id="bookingTable">
        <!-- Thymeleaf iteration over bookings -->
        <tr th:each="schedule : ${schedules}">
          <td class="py-2 px-2 border-b" th:text="${schedule.id}"></td>
          <td
                  class="py-2 px-2 border-b"
                  th:text="${schedule.facility.name}"
          ></td>
          <td
                  class="py-2 px-2 border-b"
                  th:text="${schedule.bookedDate}"
          ></td>
          <td class="py-2 px-2 border-b" th:text="${schedule.start}"></td>
          <td class="py-2 px-2 border-b" th:text="${schedule.end}"></td>

          <td class="py-2 px-2 border-b">
            <a
                    th:href="@{'/admin/booking/' + ${schedule.id}}"
                    class="flex gap-1 font-semibold hover:bg-blue-200 bg-blue-100 justify-center p-1 rounded"
            ><i data-lucide="eye"></i>
              View</a
            >
          </td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
<script>
  lucide.createIcons();
</script>
</body>
</html>
