<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Create Event</title>
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/toastify-js/src/toastify.min.css">
</head>
<body>
<div th:replace="~{fragments/admin-dashboard.html}">
    <div th:fragment="content">
        <h1
                class="text-2xl lg:text-3xl xl:text-4xl 2xl:text-5xl px-5 py-6 lg:py-10 font-bold">
            Create Event</h1>

        <form
                class="flex flex-col gap-3 px-4 md:px-10 w-full pb-10"
                th:action="@{/events/create}"
                th:object="${event}"
                method="post"
                enctype="multipart/form-data">

            <!-- Event Name Field -->
            <div class="mb-4">
                <label for="eventName" class="text-gray-700 text-sm font-bold mb-2">Event Name:</label>
                <input
                        class="w-full border border-gray-300 p-2 rounded-md focus:outline-none focus:border-blue-500"
                        type="text"
                        id="eventName"
                        th:field="*{eventName}"
                        required />
            </div>

            <div class="mb-4">
                <label for="title" class="text-gray-700 text-sm font-bold mb-2">Title:</label>
                <input
                        class="w-full border border-gray-300 p-2 rounded-md focus:outline-none focus:border-blue-500"
                        type="text"
                        id="title"
                        th:field="*{title}"
                        required />
            </div>

            <label for="facility" class="text-gray-700 text-sm font-bold mt-4">Facility:</label>
            <select class="border border-gray-300 p-2 rounded-md focus:outline-none focus:border-blue-500"
                    name="facility"
                    id="facility"
                    th:field="*{facility.id}"
                    required>
                <option value="" disabled selected>Select a Facility</option>
                <th:block th:each="facility : ${facilities}">
                    <option
                            th:value="${facility.id}"
                            th:text="${facility.name}"></option>
                </th:block>
            </select>

            <label for="description" class="text-gray-700 text-sm font-bold mb-2">Description:</label>
            <textarea
                    class="border border-gray-300 p-2 rounded-md focus:outline-none focus:border-blue-500 resize-none"
                    id="description"
                    name="description"
                    th:field="*{description}"
                    rows="4"
                    required></textarea>

            <!-- Event Time -->
            <div class="grid grid-cols-1 md:grid-cols-2 gap-4 mt-4">
                <div>
                    <label for="eventDateTime" class="text-gray-700 text-sm font-bold">Event Date and Time:</label>
                    <input class="border border-gray-300 p-2 rounded-md focus:outline-none focus:border-blue-500"
                           type="datetime-local"
                           id="eventDateTime"
                           name="eventDateTime"
                           required />
                </div>
            </div>

            <!-- Submit Button -->
            <button class="w-full bg-blue-500 text-white p-2 rounded-md hover:bg-blue-700 focus:outline-none focus:shadow-outline-blue mt-4"
                    type="submit">Create Event</button>
        </form>

        <script src="https://cdn.jsdelivr.net/npm/toastify-js"></script>
    </div>
</div>
</body>
</html>
