<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Edit Event</title>
  <script src="https://cdn.tailwindcss.com"></script>
  <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/toastify-js/src/toastify.min.css">
</head>
<body class="bg-gray-100">
<div th:replace="fragments/admin-header.html :: header"></div>
<div th:replace="fragments/sidebar :: aside"></div>

<main class="p-10 lg:ml-[220px] lg:pt-10 pt-20">
  <div class="container mx-auto px-5">
    <section class="bg-white shadow-md rounded-lg p-6">
      <h1 class="text-2xl lg:text-3xl xl:text-4xl font-bold mb-6">Edit Event</h1>
      <form class="space-y-4"
            th:action="@{/events/edit/{id}(id=${event.id})}"
            th:object="${event}"
            method="post"
            enctype="multipart/form-data">

        <!-- Event Name Field -->
        <div>
          <label for="eventName" class="text-gray-700 text-sm font-bold">Event Name:</label>
          <input
                  class="w-full border border-gray-300 p-3 rounded-md focus:outline-none focus:ring-2 focus:ring-blue-500"
                  type="text"
                  id="eventName"
                  maxlength="50"
                  placeholder="Enter name Here"
                  title="Name cannot exceed 50 characters"
                  th:field="*{eventName}"
                  required />
        </div>

        <!-- Title Field -->
        <div>
          <label for="title" class="text-gray-700 text-sm font-bold">Title:</label>
          <input
                  class="w-full border border-gray-300 p-3 rounded-md focus:outline-none focus:ring-2 focus:ring-blue-500"
                  type="text"
                  id="title"
                  maxlength="50"
                  placeholder="Enter title  Here"
                  title="Name cannot exceed 50 characters"
                  th:field="*{title}"
                  required />
        </div>

        <!-- Facility Selection -->
        <div>
          <label for="facility" class="text-gray-700 text-sm font-bold">Facility:</label>
          <select class="w-full border border-gray-300 p-3 rounded-md focus:outline-none focus:ring-2 focus:ring-blue-500"
                  name="facility"
                  id="facility"
                  th:field="*{facility.id}"
                  required>
            <option value="" disabled selected>Select a Facility</option>
            <th:block th:each="facility : ${facilities}">
              <option
                      th:value="${facility.id}"
                      th:text="${facility.name}"></option>
            </th:block>
          </select>
        </div>

        <!-- Description Field -->
        <div>
          <label for="description" class="text-gray-700 text-sm font-bold">Description:</label>
          <textarea
                  class="w-full border border-gray-300 p-3 rounded-md focus:outline-none focus:ring-2 focus:ring-blue-500"
                  id="description"
                  name="description"
                  maxlength="200"
                  placeholder="Enter Description Here"
                  title="Name cannot exceed 200 characters"
                  th:field="*{description}"
                  rows="4"
                  required></textarea>
        </div>

        <!--
                &lt;!&ndash; Image Input &ndash;&gt;
                <div>
                  <label for="image" class="text-gray-700 text-sm font-bold">Image:</label>
                  <input
                          class="w-full border border-gray-300 p-3 rounded-md focus:outline-none focus:ring-2 focus:ring-blue-500"
                          type="file"
                          id="image"
                          name="image" />
                </div>
        -->

        <!-- Event Date and Time -->
        <div>
          <label for="eventDateTime" class="block text-gray-700 text-sm font-bold mb-2">Event Date and Time:</label>
          <input class="w-full border border-gray-300 p-2 rounded-md focus:outline-none focus:border-blue-500"
                 type="datetime-local"
                 id="eventDateTime"
                 name="eventDateTime"
                 th:value="${event.eventDateTime}"
                 th:min="${minDateTime}"
                 required />
        </div>

        <!-- Submit Button -->
        <button class="w-full bg-blue-500 text-white p-3 rounded-md hover:bg-blue-700 focus:outline-none focus:ring-2 focus:ring-blue-500"
                type="submit">Update Event</button>
      </form>
    </section>
  </div>
</main>

<script src="https://cdn.jsdelivr.net/npm/toastify-js"></script>
</body>
</html>
