<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/common :: commonHead(~{::title})}">
    <title>UniFit | Admin</title>
</head>
<body class="bg-gray-100">
<div th:replace="fragments/admin-header :: header"></div>
<div th:replace="fragments/sidebar :: aside"></div>

<!--/* Dynamic main content area where any fragment can be inserted */-->
<main class="lg:ml-[16.667%] p-6">
    <section th:insert="~{::content}"></section>
</main>

</body>
<script
        type="text/javascript"
        src="https://cdn.jsdelivr.net/npm/toastify-js"
></script>
</html>