<!-- sidebar.html -->
<aside
        class="hidden lg:block bg-blue-500 text-white w-1/6 border-r border-slate-50 rounded-r-lg fixed h-screen overflow-hidden"
>
  <nav class="flex flex-col font-semibold w-full">
    <a href="/" class="text-lg pt-10 pb-8 pl-3">
      <h1 class="text-4xl font-extrabold">UniFit</h1>
    </a>
    <a
            href="/admin"
            class="border-b hover:bg-blue-600 text-lg border-slate-50 py-5 pl-3"
    >
      Dashboard
    </a>
    <a
            th:href="@{/admin/booking}"
            class="border-b hover:bg-blue-600 text-lg border-slate-50 py-5 pl-3"
    >
      View Bookings
    </a>
    <a
            th:href="@{/admin/maintenance}"
            class="border-b hover:bg-blue-600 text-lg border-slate-50 py-5 pl-3"
    >
      Maintenance
    </a>
    <a
            th:href="@{/admin/facilities}"
            class="border-b hover:bg-blue-600 text-lg border-slate-50 py-5 pl-3"
    >
      Manage Facilities
    </a>
    <a
            th:href="@{/events}"
            class="border-b hover:bg-blue-600 text-lg border-slate-50 py-5 pl-3"
    >
      Manage Events
    </a>
    <a
            th:href="@{/admin/reports}"
            class="border-b hover:bg-blue-600 text-lg border-slate-50 py-5 pl-3"
    >
      View Report
    </a>
    <a
            th:href="@{/logout}"
            class="border-b hover:bg-blue-600 text-lg border-slate-50 py-5 pl-3"
    >
      Logout
    </a>
  </nav>
  <script>
    lucide.createIcons();
    const socket = new SockJS("/ws-booking");
    const stompClient = Stomp.over(socket);

    stompClient.connect({}, () => {
      stompClient.subscribe("/topic/admin", (notification) => {
        // Handle the incoming notification
        const message = JSON.parse(notification.body);
        console.log("Received Booking Notification:", message);

        // Display the notification to the admin
        displayNotification(message);
      });
    });

    function displayNotification(notification) {
      // Extract booking information
      let bookingId = notification.bookingId;
      let customerName = notification.customerName;
      let facilityName = notification.facilityName;

      // Create a message for the toast
      var message = `${customerName} has made a booking at ${facilityName}.`;

      // Show a toast notification
      Toastify({
        text: message,
        duration: 5000, // Adjust duration as needed
        close: true,
        gravity: "top", // Position of the toast
        position: "right", // Position of the toast
        className: "font-semibold bg-blue-500 hover:bg-blue-600",
        destination: `/admin/booking/${bookingId}`, // Redirect to the booking page when clicked
        onClick: function() {
          window.location.href = `/admin/booking/${bookingId}`; // Navigate to the booking details page
        }
      }).showToast();
    }
  </script>
</aside>
